# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Backend
backend/venv/
backend/logs/
backend/logs/sql.log
backend/uploads/support/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/venv/
frontend/src/assets/logo/*
!frontend/src/assets/logo/.gitkeep

# OS
.DS_Store
Thumbs.db
