# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Backend
backend/venv/
backend/logs/
backend/logs/sql.log
backend/uploads/support/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/venv/
frontend/src/assets/logo/*
!frontend/src/assets/logo/.gitkeep

# Mobile app
mobile-app/node_modules/
mobile-app/.expo/
mobile-app/.idea/
mobile-app/android/
mobile-app/dist/
mobile-app/web-build/

# OS
.DS_Store
Thumbs.db
